@model OnlineGift.Data.ViewModel.LoginViewModel
@{ ViewBag.Title = "User Login"; }
<div class="container mt-5" style="background: #00a989;
    border-radius: 10px;
    width: 666px;">
    <div class="row justify-content-center align-items-center">
        <div class="col-sm-12 col-md-12 col-lg-4">
            <h2 class="mb-3">User Login</h2>


            <form method="post">
                <div class="mb-4">
                    <label class="form-label">Username</label>
                    <input type="text" asp-for="UserName" class="form-control" />
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>
                <div class="mb-4">
                    <label class="form-label">Password</label>
                    <input type="password" asp-for="password" class="form-control" />
                    <span asp-validation-for="password" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <button type="submit" class="btn" style="background-color: black; color: white;">Login</button>
                </div>
                <div class="md-10">
                    <p style="margin:0px;">Don't have an acount?
                    <a style="color:red;" asp-action="Register" asp-controller="Authenticate">Create New</a></p>
                </div>
            </form>
        </div>
    </div>
</div>