<div class="row" style="flex-direction: column; align-items: center;">
    <div class="col-md-6 alert alert-success text-center">
        <h2>Order completed successfully</h2>
        <hr />
        <p>Thank you!</p>

    </div>
    <div>
        <a class="btn btn-outline-success" style="background-color:black;color:white;" asp-controller="Products" asp-action="Index">Back to Home</a>
    </div>
</div>
